# Ignore large datasets
*.csv
*.xlsx
*.Rdata
*.npz
*.pkl

# Ignore shapefile data
data/shapefiles/

# Ignore virtual environment
/env_phs/

# Ignore system files
.Rhistory
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Uncomment to include specific files that are necessary for running the code
# !important_data.csv
